.page {
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  padding: 30px 80px 40px;
  background: center / cover no-repeat #fff url(../images/background_header.svg);
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 800px;
  display: flex;
  flex-direction: column;
}

.header__title {
  margin: 183px 0 0;
  max-width: 729px;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  color: #3f96f3;
}

.header__description {
  margin: 28px 0 0;
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.header__paragraph {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav__link {
  color: black;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.recipes {
  color: #fff;
  background-color: #0a2750;
  padding: 100px 80px 215px;
  background-image: url(../images/background_recipes.svg);
  background-position: center -50px;
  background-size: cover;
  background-repeat: no-repeat;
}

.recipes__title {
  margin: 0 0 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
}

.recipes__subtitle {
  margin: 0 0 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
}
.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
}
